{% extends "./base.html" %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content">
        <h4>
            Address
        </h4>
            <a class="btn btn-primary" href="{% url "customer:address_create" %}">
                create new address
            </a>
            <br>
            <br>
    <div class="rows">
    {% for add  in addressess %}
    <div class="col-div">

        <div class="card">

            {% comment %} <img class="card-img-top" src="holder.js/100px180/" alt="Title" /> {% endcomment %}
            <div class="card-body">
                <h4 class="card-title">
                    Shipping Address
                </h4>
                
                <a href="{% url "customer:address_detail" add.id  %}" class="badge  bg-primary text-bg-primary">
                    <i class="la la-edit text-white" style="font-size: 20px;"></i>
                </a>
                <a href="{% url "customer:address_delete" add.id  %}" class="badge  bg-danger text-bg-primary">
                    <i class="la la-trash text-white" style="font-size: 20px;"></i>
                </a>
                <p class="card-text">
                    <b>
                        FullName:
                    </b>
                    {{add.last_name|capfirst}}
                    {{add.first_name|capfirst}} 
                </p>
                
                <p class="card-text">
                    <b>
                        Mobile:
                    </b>
                    {{add.mobile}}
                </p>
                <p class="card-text">
                    <b>
                        Email:
                    </b>
                    {{add.email}}
                </p>
                <p class="card-text">
                    <b>
                        Address:
                    </b>
                    {{add.address}}
                </p>
                <p class="card-text">
                    <b>
                        City:
                    </b>
                    {{add.city}}
                </p>
                <p class="card-text">
                    <b>
                        State:
                    </b>
                    {{add.state}}
                </p>
                <p class="card-text">
                    <b>
                        Country:
                    </b>
                    {{add.country}}
                </p>
                <p class="card-text">
                    <b>
                        Zipcode:
                    </b>
                    {{add.zip_code}}
                </p>
    

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}