{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="main-panel">

    <div class="content">

    <div class="col-md-6">
        <form class="card " action="{% url "customer:address_detail" address.id  %}" method="POST">
            {% csrf_token %}
            <div class="card-header">
                <div class="card-title">
                    Update Address
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="squareInput">First Name</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="fname"  value="{{address.first_name}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Last Name</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="lname"  value="{{address.last_name}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Mobile</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="mobile"  value="{{address.mobile}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Email</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="email"  value="{{address.email}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Country</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="country"  value="{{address.country}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">State</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="state"  value="{{address.state}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">City</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="city"  value="{{address.city}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Address</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="address"  value="{{address.address}}">
                </div>
                <div class="form-group">
                    <label for="squareInput">Zipcode</label>
                    <input type="text" class="form-control input-square" id="squareInput" placeholder="Square Input" name="zip_code"  value="{{address.zip_code}}">
                </div>
                                                
            </div>
            <div class="card-action">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="cancel" class="btn btn-danger">Cancel</button>
            </div>
        </div>
        
        </form>
    </div>

</div>
{% endblock content %}
 