{% extends "./base.html" %}
{% load static %}
{% block content %}
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Dashboard</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="card card-stats card-success">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-bar-chart"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Total amount spent</p>
													{% if total_spent == None %}
													<h4 class="card-title">$0</h4>
													{% else %}
													<h4 class="card-title">${{total_spent|floatformat:2}}</h4>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-primary">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Order</p>
													<h4 class="card-title">
														{{orders.count}}9
													</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					
					<div class="card">
						{% for order in orders %}

						<div class="card-body">
							<div class="card-sub w-100  d-flex justify-content-between">
								<div>
									<p>
										Order Number
									</p>
									<b>
										#{{order.order_id}}
									</b>
								</div>
								<div>
									<div class="d-grid gap-2">
										<a
											href="{% url "customer:order_detail" order.order_id  %}"
											class="btn btn-primary"
										>
											View Order
										</a>
									</div>
									
								</div>
							</div>
						{% for item in order.order_item.all %}

								<table class="table">
									<tbody >
										
										<tr class="any">
											
											<td class="">
												<div class="d-flex justify-contents-between align-items-center ">
													<img src="{{item.product.image.url}}" alt="" width="40px" height="40px">
													<div>
														<b>
															{{item.product.name}}
														</b>
														<br>
														
														<small>
															Vendor: {{item.product.vendor.profile.full_name}}
														</small>
														<br>
														{% if item.color %}
														<span class="text-dark medium">
															Color: {{item.color}}
														</span>
														{% else %}
														<small>
															Color: N/A
														</small>
														{% endif %}
														<br>
														{% if item.size %}
														<span class="text-dark medium">
															size: {{item.size}}
														</span>
														{% else %}
														<small>
															size: N/A
															{{item.item_id}}
														</small>
														{% endif %}
														<br>
														<b>
													${{item.price}}
														</b>
													</div>
												</div>
											</td>
											
											<td>
												Status: 
												<br>
												<span
													class="badge {% if item.order_status == "Pending" %}  bg-warning {% elif item.order_status == "Success" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
													>
													{{item.order_status}}
													</span
												>
												
											</td>
											<td>
												Payment Status: 
												<br>
												<span
													class="badge {% if order.payment_status == "Processing" %}  bg-warning {% elif order.payment_status == "Paid" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
													>
													{{order.payment_status}}
													</span
												>
												
											</td>
											<td>
												<span class="fw-bold">
													Order Date:
												</span>
												<br>
												{{order.date}}
												<br>
												{{order.date|timesince}} ago
											</td>
											
										</tr>
										
									</tbody>
								</table>
							{% endfor %}
							<table class="table">
								<tbody>
									<tr>
										<td>
											Paid using 
											{{order.payment_method}}
										</td>
										<td>
											Total: ${{order.total}}
										</td>
										
										</tr>
								</tbody>
							</table>
						</div>
						{% endfor %}
					</div>

				</div>

			</div>
{% endblock content %}
