{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content">
        <h4>
            You have ({{unseen_notis_list.count}}) Unread Notifications
        </h4>
    {% for n in notis_list %}
    <div class="card text-start w-50">
        {% comment %} <img class="card-img-top" src="holder.js/100px180/" alt="Title" /> {% endcomment %}
        <div class="card-body">
            <h4 class="card-title">
                {{n.notification_type}}
            </h4>
            <p class="card-text">
                <b>
                    Sent:
                </b>
                {{n.date}}
            </p>
            {% if n.seen == False %}
            <p class="card-text">
                <div class="d-grid gap-2">
                    <a
                        href="{% url "customer:mark_notis_seen" n.id %}"
                        name=""
                        id=""
                        class="btn btn-primary"
                    >
                        Mark as read
                    </a>
                </div>
                
            </p>

            {% else %}

            <p class="card-text">
                <div class="d-grid gap-2">
                    <input type="text" value="Read" disabled class="btn btn-secondary w-25">
                </div>
                
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    

    </div>
    
</div>
{% endblock content %}
