{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Ready Bootstrap Dashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
	<link rel="stylesheet" href="{% static 'assets/css/ready.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
</head>
<body>
	<div class="wrapper">
		<div class="main-header">
			
			{% include "./sidebar.html" %}
			<div class="main-panel">
				<div class="content">
                    <h4>
                        You have ({{unseen_notis_list.count}}) Unread Notifications
                    </h4>
                {% for n in notis_list %}
				<div class="card text-start w-50">
                    {% comment %} <img class="card-img-top" src="holder.js/100px180/" alt="Title" /> {% endcomment %}
                    <div class="card-body">
                        <h4 class="card-title">
                            {{n.notification_type}}
                        </h4>
                        <p class="card-text">
                            <b>
                                Sent:
                            </b>
                            {{n.date}}
                        </p>
                        {% if n.seen == False %}
                        <p class="card-text">
                            <div class="d-grid gap-2">
                                <a
                                    href="{% url "customer:mark_notis_seen" n.id %}"
                                    name=""
                                    id=""
                                    class="btn btn-primary"
                                >
                                    Mark as read
                                </a>
                            </div>
                            
                        </p>

                        {% else %}

                        <p class="card-text">
                            <div class="d-grid gap-2">
                                <input type="text" value="Read" disabled class="btn btn-secondary w-25">
                            </div>
                            
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                

                </div>
                
			</div>
		</div>
	</div>
	
</body>
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/ready.min.js' %}"></script>
{% comment %} <script src="{% static 'assets/js/demo.js' %}"></script> {% endcomment %}
</html>	