{% extends "./base.html" %}
{% load static %}
{% block content  %}
			<div class="main-panel">
				<div class="content">
					
					
					<div class="card">
						{% for order in orders %}

						<div class="card-body">
							<div class="card-sub w-100  d-flex justify-content-between">
								<div>
									<p>
										Order Number
									</p>
									<b>
										#{{order.order_id}}
									</b>
								</div>
								<div>
									<div class="d-grid gap-2">
										<a
											href="{% url "customer:order_detail" order.order_id  %}"
											class="btn btn-primary"
										>
											View Order
										</a>
									</div>
									
								</div>
							</div>
						{% for item in order.order_item.all %}


								<table class="table">
									<thead>
									</thead>
									<tbody>
										
										<tr class="any">
											
											<td>
												<div class="d-flex justify-contents-between align-items-center">
													<img src="{{item.product.image.url}}" alt="" width="40px" height="40px">
													<div>
														<b>
															{{item.product.name}}
														</b>
														<br>
														
														<small>
															Vendor: {{item.product.vendor.profile.full_name}}
														</small>
														<br>
														{% if item.color %}
														<span class="text-dark medium">
															Color: {{item.color}}
														</span>
														{% else %}
														<small>
															Color: N/A
														</small>
														{% endif %}
														<br>
														{% if item.size %}
														<span class="text-dark medium">
															size: {{item.size}}
														</span>
														{% else %}
														<small>
															size: N/A
														</small>
														{% endif %}
														<br>
														<b>
													${{item.price}}
														</b>
													</div>
												</div>
											</td>
											
											<td>
												Status: 
												<br>
												<span
													class="badge {% if item.order_status == "Pending" %}  bg-warning {% elif item.order_status == "Success" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
													>
													{{item.order_status}}
													</span
												>
												
											</td>
											<td>
												Payment Status: 
												<br>
												<span
													class="badge {% if order.payment_status == "Processing" %}  bg-warning {% elif order.payment_status == "Paid" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
													>
													{{order.payment_status}}
													</span
												>
												
											</td>
											<td>
												<span class="fw-bold">
													Order Date:
												</span>
												<br>
												{{order.date}}
												<br>
												{{order.date|timesince}} ago
											</td>
											
										</tr>
										
									</tbody>
								</table>
							{% endfor %}
							<table class="table">
								<tbody>
									<tr>
										<td>
											Paid using 
											{{order.payment_method}}
										</td>
										<td>
											Total: ${{order.total}}
										</td>
										</tr>
								</tbody>
							</table>
						</div>
						{% endfor %}
					</div>

				</div>

			</div>
{% endblock content %}
