{% extends "./base.html" %}
{% load static %}
{% block content %}

	<div class="main-panel">
		<div class="content">
			
			
			<div class="card">
				
				<div class="card-body">
					<div class="card-sub w-100  d-flex justify-content-between">
						<div>
							<p>
								Order Number
							</p>
							<b>
								#{{order.order_id}}
							</b>
						</div>
						<div>
							
						</div>
					</div>
					{% for item in order.order_item.all %}

						<table class="table">
							<thead>
							</thead>
							<tbody>
								
								<tr class="any">
									
									<td>
										<div class="d-flex justify-contents-between align-items-center">
											<img src="{{item.product.image.url}}" alt="" width="40px" height="40px">
											<div>
												<b>
													{{item.product.name}}
												</b>
												<br>
												
												<small>
													Vendor: {{item.product.vendor.profile.full_name}}
												</small>
												<br>
												{% if item.color %}
												<span class="text-dark medium">
													Color: {{item.color}}
												</span>
												{% else %}
												<small>
													Color: N/A
												</small>
												{% endif %}
												<br>
												{% if item.size %}
												<span class="text-dark medium">
													size: {{item.size}}
												</span>
												{% else %}
												<small>
													size: N/A
												</small>
												{% endif %}
												<br>
												<b>
											${{item.price}}
												</b>
												
											</div>
										</div>
									</td>
									
									<td>
										Status: 
										<br>
										<span
											class="badge {% if item.order_status == "Pending" %}  bg-warning {% elif item.order_status == "Success" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
											>
											{{item.order_status}}
											</span
										>
										
									</td>
									<td>
										Payment Status: 
										<br>
										<span
											class="badge {% if order.payment_status == "Processing" %}  bg-warning {% elif order.payment_status == "Paid" %}bg-success {%else%} bg-danger  {% endif %}  text-white"
											>
											{{order.payment_status}}
											</span
										>
										
									</td>
									
									<td>
										<div class="d-grid gap-2">
											<a
												href="{% url "customer:order_item_detail" order.order_id item.item_id  %}"
												class="btn btn-primary"
												title="view item"
											>
												<i class="la la-eye"></i>
											</a>
										</div>
									</td>
									
								</tr>
								
								
							</tbody>
						</table>
					{% endfor %}
					<table class="table">
						<tbody>
							<tr>
								<td>
									Paid using 
									{{order.payment_method}}
								</td>
								<td>
									Total: ${{order.total}}
								</td>
								</tr>
						</tbody>
					</table>
					<h3>
						Order Summary
					</h3>
					<table class="table">
						<tbody>
							<tr>
								<td>
									Date:  
									<b>
										{{order.date}}
									</b>
								</td>
								</tr>
							<tr>
								<td>
									SubTotal:  
									<b>
										${{order.sub_total}}
									</b>
								</td>
								</tr>
							<tr>
								<td>
									Shipping:  
									<b>
										${{order.shipping}}
									</b>
								</td>
								</tr>
								<tr>
									<td>
										Tax:  
										<b>
											${{order.tax}}
										</b>
									</td>
									</tr>
									<tr>
										<td>
											Total:  
											<b>
												${{order.total}}
											</b>
										</td>
										</tr>
						</tbody>
					</table>
					<h3>
						Bio Data
					</h3>
					<table class="table">
						<tbody>
							<tr>
								<td>
									Fullname:  
									<b>
										{{order.customer.profile.full_name|capfirst}}
									</b>
								</td>
								</tr>
							<tr>
								<td>
									Email:  
									<b>
										{{order.customer.email}}
									</b>
								</td>
								</tr>
								<tr>
									<td>
										Mobile:  
										<b>
											{{order.customer.profile.mobile}}
										</b>
									</td>
									</tr>
									
								
						</tbody>
					</table>
					<h3>
						Shipping Details
					</h3>
					<table class="table">
						<tbody>
							<tr>
								<td>
									Fullname:  
									<b>
										{{order.address.first_name|capfirst}} {{order.address.last_name|capfirst}}
									</b>
								</td>
								</tr>
							<tr>
								<td>
									Email:  
									<b>
										{{order.address.email}}
									</b>
								</td>
								</tr>
								<tr>
									<td>
										Mobile:  
										<b>
											{{order.address.mobile}}
										</b>
									</td>
								</tr>
								<tr>
									<td>
										City:  
										<b>
											{{order.address.city}}
										</b>
									</td>
									</tr>
								<tr>
									<td>
										State:  
										<b>
											{{order.address.state}} State
										</b>
									</td>
									</tr>
								<tr>
									<td>
										Country:  
										<b>
											{{order.address.country}}
										</b>
									</td>
									</tr>
									<tr>
										<td>
											Address:  
											<b>
												{{order.address.address}}
											</b>
										</td>
										</tr>
										<tr>
											<td>
												Zip Code:  
												<b>
													{{order.address.zip_code}}
												</b>
											</td>
											</tr>
									
								
						</tbody>
					</table>
				</div>
			</div>

		</div>

	</div>
	
{% endblock content %}

