{% extends "./base.html" %}
{% load static %}
{% block content %}
<div class="main-panel">
<div class="content">

    <h6>
      Wishlist  ({{wishlist_list.count}})
    </h6>
        <div class="rows">
            {% for w in wishlist_list %}
            <div class="col-div">
                    <div class="card ">
                        <div class="card-body ">
                                <div>
                                        <a href="{% url "store:product-detail" w.product.slug  %}">
                                            <img
                                            src="{{w.product.image.url}}"
                                            
                                            alt="image desc"
                                            width="100%"
                                        />
                                        </a>
                                        <br>
                                        <br>
                                    <small class="card-text d-block">
                                        <span class="text-danger">
                                            Category:
                                        </span>
                                        {{w.product.category.title}}
                                    </small>
                                    <span class="card-text d-block">
                                       {{w.product.name}}
                                    </span>
                                </div>

                                <br>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i><i class="la la-star text-warning"></i>
                                    <p class="card-text fw-bold">
                                        ${{w.product.price}}
                                    </p>
                                    </div>

                                </div>
                                <input type="hidden" name="" class="quantity" value="1">
                                <button class="btn btn-warning fw-bold add_to_cart" data-id="{{w.product.id}}">
                                    Add to cart <i class="la la-shopping-cart"></i>
                                </button>

                                <a href="{% url "customer:delete_wishlist" w.id %}" class="card-text">
                                    <i class="la la-trash text-danger" style="font-size: 30px;"></i>
                                </a>

                    
                    </div>
                </div>
                
        </div>
        {% endfor %}
    </div>
        
</div>
{% endblock content %}